.navbar-toggler-icon {
    background-image: url('../img/hamburger.svg') !important;
    width: 2em;
    height: 2em;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

.navbar-nav .nav-item a {
    font-family: "Lato";
    font-size: 18px;
}

.active {
    border-bottom: 3px solid black;
    display: block;
    height: 100%;
}